* {
  
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;



}
h1 {
  display: flex;
}
h2 {
  display: flex;
}
body {
  display: flex;
  flex-direction: column;

}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

}
.headshot {
  height: 25%;
  width: auto;
}
.navbar ul {
  display: flex;
}
section {
  display: flex;

}
footer {
  display: flex;
}
