* {
  
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;



}
h1 {
  display: flex;
}
h2 {
  display: flex;
}
body {
  display: flex;
  flex-direction: column;

}
.imageAndLinks {
  display: flex;
  flex-direction: row;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;

}
.headshot {
  height: 25%;
  width: auto;
}
.navbar ul {
  display: flex;
  height: 100%;
}
section {
  display: flex;

}
.aboutImageAndNav {
  position: relative;
  text-align:center;
  max-height: 10%;
  max-width: auto;
}
footer {
  display: flex;
  justify-content: space-evenly;
}
